div:hover {
    border: rgb(6, 255, 39) solid 2px;
  }
  
  div:nth-of-type(1) {
    background-color: aqua;
  }
  
  div:nth-of-type(2) {
    padding: 20px;
    background-color: brown;
  }
  
  div:nth-of-type(3) {
    background-color: yellow;
    font-size: 20px;
  }
  div:nth-of-type(4) {
    background-color: black;
    color: aliceblue;
  }
  div:nth-of-type(5) {
    background-color: beige;
  }
  
  div:nth-of-type(1) h3:nth-of-type(1) {
    font-family: Helvetica, sans-serif;
    
  }
  h3:nth-of-type(2n+1) {
    font-style: italic;
  }
  div:nth-of-type(2) h3:nth-of-type(2) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
    div:nth-of-type(3) h3:nth-of-type(3) {
      font-family: none;
     }
     div:nth-of-type(4) h3:nth-of-type(4) {
      font-style: fantasy;
     }
     div:nth-of-type(5) h3:nth-of-type(5) {
      font-style: oblique;
     }