/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    margin: 0 3%;
  }
  
  article {
  
  }
  
  h1 {
  
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen  and (max-width: 794px){
    body {
        background: rgba(0,0,255,.2);
        margin: 25px 6%;
      }
    
      figure {
        width: 45%;
        margin-right: 4.5%;
      }

      section {
        display: flex;
        flex-wrap: wrap;
      }
    
  }

  @media screen and (min-width: 1020px) {
    body {
      background: rgba(0,255,0,.2);
      margin: 25px 10%;
      max-width: 1130px;
    }
  
    figure {
      width: 30%;
      margin-right: 2.5%;
    }

  }